nav ul {
    list-style-type: none;
    background: linear-gradient(to right, #515151, #9c0303);
    margin: 0;
    padding: 0;
    text-align: center;
}

nav li {
    display: inline-block;
    margin: 0;
    font-family: "OpenDyslexic", sans-serif;
}

nav a {
    display: inline-block;
    padding: 1em;
    color: white;
    text-decoration: underline;
    font-weight: bold; font-style: italic;
}

nav a:hover {
    background-color: rgb(171, 171, 171);
}

/* Two-column layout */
main section {
    display: flex;
    align-items: center;
    gap: 20px;
    padding:20px;
}

/* Image floats left, text wraps */
main img {
    float: left;
    width: 200px;
    height: auto;
    border: 2px solid #333;
    border-radius: 100px;
}

/* Text next to image */
main h1 {
    font-family: 'Georgia', serif;
    color: #c1c1c1;
}

main p {
    color: #c1c1c1;
}

/* Footer */
footer {
    position: fixed;
    border-top: 1px;
    bottom : 0;
    width: 100%;
    text-align: center;
    background-color: lightgray;
    padding: 10px 0;
}
body {
    background-color: #515151;
}