nav ul {
    list-style-type: none;
    background: linear-gradient(to right,  #515151, #9c0303);
    margin: 0;
    padding: 0;
    text-align: center;
}

nav li {
    display: inline-block;
    margin: 0;
    font-family: "OpenDyslexic", sans-serif;
}

nav a {
    display: inline-block;
    padding: 1em;
    color: white;
    text-decoration: underline;
    font-weight: bold; font-style: italic;
}

nav a:hover {
    background-color: rgb(171, 171, 171);
}

h1 {
    color:#c1c1c1
}

ol {
  list-style-type: decimal;
  margin-left: 50px;
  padding-left: 10px;
}

li {
  color: #c1c1c1;
  font-size: 1.1em;
  margin: 0 0 5px 0;
}

li a:link {
    color:#c1c1c1
}

li a:hover {
  text-decoration: none;
}

body {
    background-color: #515151;
}

footer {
    position: fixed;
    border-top: 1px;
    bottom : 0;
    width: 100%;
    text-align: center;
    background-color: lightgray;
    padding: 10px 0;
}